<div style="height: <%= height %>px; 
                    width: <%= width %>px;
                    padding: <%= padding %>px;
                    border-radius: <%= radius %>px;
                    background-color: <%= borderColor %>;
                    margin: <%= margin %>;
                    display: inline-block;">
    <div style="height: 100%;
                width: 100%;
                background-color: <%= color %>;
                border-radius: <%= radius %>px;">
    </div>
</div>