<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>webaudio</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <script data-main="js/main" src="js/lib/require.js"></script>
	</head>
	<body>
	</body>
    
    <script type="text/template" id="box">
        <div style="height: <%= height %>px; 
                    width: <%= width %>px;
                    padding: <%= padding %>px;
                    border-radius: <%= radius %>px;
                    background-color: <%= borderColor %>;
                    margin: <%= margin %>px;">
            <div style="height: 100%;
                        width: 100%;
                        background-color: <%= color %>;
                        border-radius: <%= radius %>px;">
            </div>
        </div>
    </script>
</html>
